<div class="unit">
　<h2>説明</h2>
  <div class="subunit">
    <table>
      <tr>
        <th>Grade</th>
        <td>許容されるcool未満の数</td>
      </tr>
      <tr>
        <th>Clear Rate</th>
        <td>許容されるcoolの数 (cool未満は2coolの扱いになります)</td>
      </tr>
    </table>
  </div>
</div>
