<% breadcrumb :show_border, @music_set.first.title %>
<%= breadcrumbs %>

<h1><%= h1_title(@page_title) %></h1>
<p>間違いがあれば、ご指摘ください。確認の上、修正を行います。</p>

<%= render 'help' %>

<%= render 'block', music_set: @music_set, index: false %>