<% breadcrumb :iglock %>
<%= breadcrumbs %>

<h1><%= raw h1_title(@page_title, @page_subtitle) %></h1>

<%= render 'shared/user', user: @user, edit: false %>

<%= render 'shared/skill_set', skill_set: @skill_set, edit: false %>
