<div class="unit">
  <h2><%= block[:title] %></h2>
  <div class="subunit">
    <table id="<%= block[:id] %>" class="skill_list">
      <thead>
        <tr>
          <th class="rank">#</th><th class="title">タイトル</th>
          <th class="level">レベル</th><th class="rp">RP</th>
          <th class="rate">RATE</th><th class="rate">ULT</th>
          <th class="mark">ランク</th><th class="mark">コンボ</th>
          <th>コメント</th>
        </tr>
      </thead>
      <tbody>
        <% block[:skills].each_with_index do |skill, i| %>
          <% target = true if !skill.new_record? and block[:target_count] < i %>
          <%= render 'skill', skill: skill, rank: i+1, edit: edit, target: target %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
