<tr>
  <th><%= skill.music.number %></th>
  <td class="title text">
    <%= skill.music.title %>
    <% if skill.music.subtitle %>
      <small><%= skill.music.subtile %></small>
    <% end %>
  </td>
</tr>
