<% breadcrumb :skills %>
<%= breadcrumbs %>

<h1><%= raw h1_title(@page_title) %></h1>

<%= render 'shared/user', user: @user, edit: true %>

<%= render 'shared/skill_set', skill_set: @skill_set, edit: true %>
