<div class="unit">
  <h2><%= data[:title] %></h2>
  <div class="subunit">
    <% if data[:skills].empty? %>
      <p>ランクポイント情報が登録されていません</p>
    <% else %>
      <table id="<%= data[:id] %>" class="skill_list">
        <thead>
          <tr>
            <th class="rank">#</th><th class="title">タイトル</th>
            <th class="level">レベル</th><th class="rp">RP</th>
            <th class="rate">RATE</th><th class="rate">ULT</th>
            <th class="mark">ランク</th><th class="mark">コンボ</th>
            <th>コメント</th>
          </tr>
        </thead>
        <tbody>
          <% data[:skills].each_with_index do |skill, i| %>
            <% target = true if !skill.new_record? and data[:target_count] < i %>
            <%= render 'shared/skill', skill: skill, rank: i+1, edit: edit, target: target %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
