<div class="unit">
  <h2><%= block[:title] %></h2>
  <div class="subunit">
    <% if block[:items].empty? %>
      <p>ランクポイント情報が登録されていません</p>
    <% else %>
      <table id="<%= block[:id] %>" class="skill_list">
        <thead>
          <tr>
            <th class="rank">#</th><th class="title">タイトル</th>
            <th class="level">レベル</th><th class="rp">RP</th>
            <th class="rate">RATE</th><th class="rate">ULT</th>
            <th class="mark">ランク</th><th class="mark">コンボ</th>
            <th>コメント</th>
          </tr>
        </thead>
        <tbody>
          <% block[:items].each_with_index do |item, i| %>
            <%= render 'shared/skill', skill: item, rank: i+1, edit: edit %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
