<div class="unit">
  <h2>ランクポイント</h2>
  <div class="subunit">
    <table class="skill_sum">
      <thead>
        <tr>
          <% skill_set.each do |block| %>
            <th><%= block[:title] %></th>
          <% end %>
          <th>合計RP</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% LIST_BLOCKS.each_key do |block_key| %>
            <td><%= sprintf_for_rp(skill_set.block_rps[block_key]) %></td>
          <% end %>
          <td><%= sprintf_for_rp(skill_set.total_rp) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
