/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import url("http://cxbrank.maplia.jp/style/skill.css");
body {
  font-size: 80%;
}

th.easy, tr.easy th {
    color: #660000;
    background-color: #bbeeff;
}
td.easy, tr.easy td {
    color: #660000;
    background-color: #cceeff;
}
th.standard, tr.standard th {
    color: #006600;
    background-color: #ccffcc;
}
td.standard, tr.standard td {
    color: #00660;
    background-color: #ddffdd;
}
th.hard, tr.hard th {
    color: #444400;
    background-color: #ffffcc;
}
td.hard, tr.hard td {
    color: #444400;
    background-color: #ffffdd;
}
th.master, tr.master th {
    color: #660000;
    background-color: #ffcccc;
}
td.master, tr.master td {
    color: #660000;
    background-color: #ffdddd;
}
th.unlimited, tr.unlimited th {
    color: #000066;
    background-color: #ccbbff;
}
td.unlimited, tr.unlimited td {
    color: #000066;
    background-color: #ddbbff;
}
.etc {
    color: inherit;
    background-color: white;
}
