// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*==============
  text-align
  ==============*/
td.rp {
  text-align: right;
}
td.rate {
  text-align: right;
}
td.mark {
  text-align: center;
}
td.icon {
  text-align: center;
}

/*==============
  skill_list
  ==============*/
table.skill_list thead tr th.rank {
  width: 2.0em;
}
table.skill_list thead tr th.title {
  width: 27.0em;
}
table.skill_list thead tr th.level {
  width: 6.0em;
}
table.skill_list thead tr th.rp {
  width: 4.0em;
}
table.skill_list thead tr th.rate {
  width: 3.0em;
}
table.skill_list thead tr th.mark {
  width: 3.5em;
}
table.skill_list tbody tr th.target {
  color: red;
  background-color: #ffdddd;
}
table.skill_list tbody tr th.untarget {
  color: #006600;
  background-color: #ccffcc;
}

/*==============
  skill_sum
  ==============*/
table.skill_sum thead th {
  width: 9.0em;
}
table.skill_sum tbody td {
  color: white;
  background-color: black;
  text-align: center;
  font-weight: bold;
}

/*==============
  skill_confirm
  ==============*/
table.skill_confirm thead tr th.rp {
  width: 4.0em;
}
table.skill_confirm thead tr th.rate {
  width: 3.0em;
}
table.skill_confirm thead tr th.mark {
  width: 3.5em;
}
table.skill_confirm thead tr th.icon {
  width: 1.5em;
}
table.skill_confirm tbody tr td.diff_inc {
  color: red;
  font-weight: bold;
}
table.skill_confirm tbody tr td.diff_dec {
  color: blue;
  font-weight: bold;
}

/*==============
  user_info
  ==============*/
table.user_info tbody tr td p {
  margin: 0;
}
