<div class="unit">
  <h2><%= block[:title] %></h2>
  <div class="subunit">
    <table id="<%= block[:id] %>" class="music_list">
      <thead>
        <tr>
          <th>#</th><th>タイトル</th>
          <th class="bsc">STD<br/>Lv</th><th class="bsc">STD<br/>Notes</th>
          <th class="adv">HRD<br/>Lv</th><th class="adv">HRD<br/>Notes</th>
          <th class="ext">MAS<br/>Lv</th><th class="ext">MAS<br/>Notes</th>
        </tr>
      </thead>
      <tbody>
        <% block[:musics].each do |music| %>
          <%= render 'music', music: music %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
